//
//  kAoi97 Web Miner | Sass Own Styles
//  https://webminer.kaoi97.net
//
//  by: @kAoi97
//  file: _sass.scss
//  version: 0.1.1
//
//  Visit https://www.kaoi97.net/brand for more information about brand.
//

// Default color palette
  $black: #3b3b3b;
  $bg-gray: #6f6f6f;
  $fg-gray: #f7f7f7;

//Default Sizes


//Variables of the Bootstrap toolkit

  //Fonts
  $font-family-sans-serif: 'Raleway', sans-serif;
  $font-family-title: 'Quicksand', sans-serif;

  //Colors
  $jumbotron-bg: $fg-gray;
  $primary: $bg-gray;
  $body-color: $black;


//Own Styles

h1, h2, h3, h4, h5 {
  font: {
    family: $font-family-title;
    weight: bold !important;
  }
}

.kAoi97 {

  font-family: 'Quicksand', sans-serif;
  color: $body-color;

  &.img {
    padding-right: 1em;
  }

}
